body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul li div {
  display: flex;
}

.main {
  width: 25%;
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
}

.remove {
  border: 0 none;
  width: 100%;
  padding: 20px;
}

.toDoTitle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.more {
  border: 0 none;
}

form {
  border-top: #888 1px solid;
  border-bottom: #888 1px solid;
}
